html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h3{
    color: white;
    font-weight: normal;
    margin-left: 20px;
    font-size: 0.8em;
    color: gray;
    text-transform: uppercase;

}

#main-container {
    display: block;
}
#main-container > div:first-child {

    margin-right: 20px;
    width: 300px;

}
#main-container > div:nth-child(2) {
    flex-grow: 1;

    padding-left: 40px;
    padding-top: 20px;
    background: none;
}


#sidebar-fixed{
    position:fixed;
    top: 0;
    left: 0;
    background-color: #322E2E;
    height: 100vh;
    overflow: scroll;
}

#player{
    margin: 10px;

}

#main-container {

    background: #161515;

}

#main-container ul li{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;

}

#main-container ul li a{
    padding: 20px;


}

#main-container ul li:hover{
    background: #000;
}

#main-container ul li a{
    color: #fff;
    text-decoration: none;

}

#audio-info{
    width: 96%;
    width: 300px;
    border-radius: 2px;
    border: 1px solid black;
    background: #878484;
    padding: 1%;
    color: white;
    margin: 2%;"
}

#playlist ul li{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search-form{
    position: fixed;
    right: 10px;
    top: 0;
}

#main-container {

    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

#nav {
    background: hotpink;
    width: 300px;

    box-flex:  0;
}


#main {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    flex-grow: 1;
    flex-basis:auto;
    flex-direction: row;
    min-height: 100vh;
}

#main ul li a{
    display: block;
}